* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}

button {
  outline: none !important;
}
